<h1><%- title  %></h1>
<ul>
  <li><a href="http://jquery.com/" id="jq">jQuery</a>
  <li><a href="/chuchu">Visit chuchu!</a>
</ul>
<div class="result"></div>
<script src="https://code.jquery.com/jquery-2.1.3.js"></script>
<script>
  $( document ).ready(function() {
      $( "#jq" ).click(function( event ) {
          event.preventDefault();
          $.get( "/chuchu", {nombres: ["juan", "pedro"]}, function( data ) {
            $( ".result" ).html( data["answer"]);
            console.log(data);
            //alert( "Load was performed. Answer = "+data["answer"]);
          }, 'json');
      });
  });
</script>

